<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.awesome.amumanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE " />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Amumanager"
        android:usesCleartextTraffic="true">
        <activity android:name=".presentation.ui.base.BaseActivity"></activity>
        <activity android:name=".presentation.ui.main.view.StoreInfoSettingActivity" />
        <activity android:name=".presentation.ui.main.view.MenuDetailActivity" />
        <activity android:name=".presentation.ui.main.view.ReviewDetailActivity" />
        <activity android:name=".presentation.ui.main.view.PromotionActivity" />
        <activity android:name=".presentation.ui.main.view.AddPromotionActivity" />
        <activity android:name=".presentation.ui.main.view.ReserveDetailActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="c7a918666697e93df1dea193b8665c69" />

        <activity android:name=".presentation.ui.main.view.AddMenuActivity" />
        <activity android:name=".presentation.ui.main.view.StoreInfoActivity" />
        <activity android:name=".presentation.ui.main.view.AddStoreActivity" />
        <activity android:name=".presentation.ui.main.view.JoinInfoActivity" />
        <activity android:name=".presentation.ui.main.view.JoinActivity" />
        <activity android:name=".presentation.ui.main.view.LoginActivity" />
        <activity android:name=".presentation.ui.main.view.MyPageActivity" />
        <activity android:name=".presentation.ui.main.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>